@model InspetoresVistorias

@{
    ViewBag.Title = "Editar Inspetores e suas Vistorias";
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Inspetores e suas Vistorias</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="InspetorId" class="control-label"></label>
                <select asp-for="InspetorId" class="form-control" asp-items="@(new SelectList(ViewBag.Inspetores, "Id", "Nome"))"></select>
                <span asp-validation-for="InspetorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VistoriaId" class="control-label"></label>
                <select asp-for="VistoriaId" class="form-control" asp-items="@(new SelectList(ViewBag.Vistorias, "Id", "Id"))"></select>
                <span asp-validation-for="VistoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}