@model Veiculo

@{
    ViewBag.Title = "Criar Veiculo";
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Criar</h1>
<h2>Veiculo</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tie" class="control-label"></label>
                <input asp-for="Tie" class="form-control" />
                <span asp-validation-for="Tie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMotor" class="control-label"></label>
                <input asp-for="TipoMotor" class="form-control" />
                <span asp-validation-for="TipoMotor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sonar" class="control-label"></label>
                <input asp-for="Sonar" class="form-control" />
                <span asp-validation-for="Sonar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class="form-control" asp-items="@(new SelectList(ViewBag.Empresas, "Id", "Nome"))"></select>
                <span asp-validation-for="EmpresaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkImagem" class="control-label"></label>
                <input asp-for="LinkImagem" class="form-control" />
                <span asp-validation-for="LinkImagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}